<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ this.page.title }}</title>
    <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}">
</head>
<body>
<header>
    <h1>Logger Theme</h1>
    <nav>
        <ul>
            <li><a href="{{ 'home'|page }}">Home</a></li>
            <li><a href="{{ 'create-log'|page }}">Create a New Log</a></li>
            <li><a href="{{ 'logs'|page }}">Logs</a></li>
        </ul>
    </nav>
</header>

<div class="content">
    {% page %}
</div>

<footer>
    <p>&copy; 2024 Logger Theme. All rights reserved.</p>
</footer>
</body>
</html>
